@model ScoreModel
@{
    ViewBag.Title = "Delete Score";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Score (@Model.Date) </h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ScoreId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
